button {
  border: none;
  background-color: rgb(27, 27, 27);
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 12px;
  outline: none;
}

button:hover {
  background-color: rgb(17, 17, 17);
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(243, 75, 45);
}

.equals:hover {
  background-color: rgb(243, 61, 29);
}
